* {
    box-sizing: border-box;
    margin: 0;
}

.content-container {
    outline: 1px solid red;
    background-color: lightgray;
    display: flex;
}

.topnav {
    outline: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.topnav h1 {
    margin: 0;
}

.topnav .right-links {
    /* outline: 2px solid red; */
}

.title-section {
    outline: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 60px;
}



.container {
    outline: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    flex: 1;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.experience-container {
    outline: 1px solid gray;
    flex: 1;
}

.education-container {
    outline: 1px solid gray;
    flex: 1;
}

.reviewh2 {
    text-align: center;
}

.review-container {
    outline: 1px solid gray;
    display: flex;
}

.review {
    outline: 1px solid green;
}
